:root {
  --bg-nav: rgba(200, 0, 0, 0.9);
  --bg-main: rgba(245, 245, 245, 0.8);
  --off-white: rgba(240, 235, 230);
}

/* Font Library: */
@font-face {
  font-family: Abel;
  src: url("./assets/fonts/Abel/Abel-Regular.ttf");
}
@font-face {
  font-family: OpenSans;
  src: url("./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: PermanentMarker;
  src: url("./assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf");
}
@font-face {
  font-family: Rubik_Moonrocks;
  src: url("./assets/fonts/Rubik_Moonrocks/RubikMoonrocks-Regular.ttf");
}
@font-face {
  font-family: Bungee;
  src: url("./assets/fonts/Bungee/Bungee-Regular.ttf");
}

* {
  font-family: OpenSans;
}

/* Class: */

.interaction {
  color: grey;
}

.interaction:hover {
  color: red;
  cursor: pointer
}

.textbox {
  background-color: rgb(255, 255, 255, 0.6);
}

.navbar {
  background: linear-gradient(to right,
    var(--bg-nav),
    var(--bg-nav)
  ), url("./assets/img/bg-navbar.jpg");
  background-position: top center;
  border-bottom: solid 16px;
}

.navbar-brand > h1 {
  font-family: Rubik_Moonrocks;
  font-size: 40px;
}

.navbar-nav > li {
  font-family: PermanentMarker;
}

/* ID: */
#wrapper {
  background: white
}

#main {
  background: linear-gradient(to bottom,
    var(--off-white),
    var(--bg-main) 75%,
    white
  ), url("./assets/img/pokemon-tcg-2023.png");
  background-size: auto 100vh;
  background-position: top center;
  background-repeat: no-repeat;
}